.list {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  height: 4rem;
  margin: 0;
  align-items: center;
}

.link {
  text-decoration: none;
  padding: 0 0.3rem;
  font-weight: bold;
  color: black;
}

.link:hover {
  border-bottom: 5px dotted var(--primary-color);
}
